<?php  if ( ! defined('ROOT')) exit('No direct script access allowed');

error_reporting(E_ALL);
ini_set('display_errors', 'On');
ini_set('error_log', ROOT."/logs/error". date('Y-m-d').".log");
ini_set('log_errors', 'On');


define("DB_HOST", "");
define("DB_USER", "");
define("DB_PASS", "");
define("DB_DB", "");




?>
